@media (max-width: 991px) {
    .promo {
        padding: 21px 50px 93px 50px;
    .advantage {
        padding: 70px 50px 67px 50px;
    }    
    }
    .consultation {
        .title {
            &_left {
                text-align: center;
                font-size: 30px;
            }  
        }
        &__descr {
            text-align: center;
        }
        .feed-form {
            margin: 30px auto;
        }
}   
    
    .owl-nav {
        display: none;
    }
}    
@media (max-width: 767px) {
    .header {
        &__logo {
            width: 210px;
        }
        &__oficial {
            margin-top: 15px;
            span {
                font-size: 16px;
            }  
        }
        &__phone {
            margin-top: 15px;
        }
        &__contacts {
            a {
                font-size: 16px;
            }
        }
        .button {
            width: 140px;
            margin-top: 5px;
        }
    }
    .promo {
        &__wrapper {
            align-items: center;
        }
        .title {
            font-size: 30px;
        }
        &__descr {
            font-size: 20px;
        }
    }
    .advantage {
        .title {
            font-size: 24px;
        }
    }
    .consultation {
        .title {
            &_left {
                text-align: center;
                font-size: 25px;
            }  
        }
    }
    .carousel {
        .owl-carousel {
            width: 520px;
            .item {
                img {
                    // display: block;
                    width: 500px;
            }
            }
        }
    }
}
@media (max-width: 575px) { 
    .header {
        &__logo {
            width: 200px;
        }
        &__oficial {
            margin-top: 15px;
            span {
                font-size: 12px;
            }  
        }
        &__phone {
            margin-top: 15px;
        }
        .button {
            margin-top: 5px;
        }
        display: flex;
        flex-direction: column;
    }
    .promo {
        &__header {
            font-size: 17px;
            margin-top: -50px;
        }
        &__subheader {
            font-size: 10px;
        }
        &__icons {
            width: 320px;
            margin-top: 30px;
        }
        .button_main {
            margin-top: 40px;
        }
    }
    .advantage {
        &__subtitle {
            margin: 5px 0;
            font-size: 14px;
        }
        &__descr {
            font-size: 11px;
            line-height: 15px;
            a {
                font-size: 11px;
           }
            }
        }  
    .consultation {
        .title {
            &_left {
                font-size: 20px;
            }  
        }
        &__descr {
            font-size: 16px;
            margin-top: 17px;
        }
        .feed-form {
            width: 280px;
        }  
    }  
    .carousel {
        .owl-carousel {
            width: 320px;
            .item {
                img {
                    // display: block;
                    width: 280px;
            }
            }
        }
    }
}    

